Flask==3.1.2
numpy==2.4.2
pandas==3.0.0
openpyxl==3.1.5
python-dotenv==1.2.1
flask-cors==6.0.2
portalocker==3.2.0
APScheduler==3.11.2
requests==2.32.5
waitress==3.0.2
python-dateutil==2.9.0.post0
certifi==2026.1.4
charset-normalizer==3.4.4
idna==3.11
urllib3==2.6.3
Jinja2==3.1.6
Werkzeug==3.1.5
MarkupSafe==3.0.3
itsdangerous==2.2.0
click==8.3.1
blinker==1.9.0
tzdata==2025.3
tzlocal==5.3.1
packaging==26.0
setuptools==82.0.0
wheel==0.46.3
cryptography==44.0.1
